#countdown(hidden)
    audio#countdownSound
        source(src="audio/321.mp3" type="audio/mpeg")

    .letters
        .letter-1.small M
        .letter-2.small A
        .letter-3.small T
        .letter-1.small C
        .letter-2.small H
        .letter-3.small.invert 
        .letter-1.small F
        .letter-2.small O
        .letter-3.small U
        .letter-1.small N
        .letter-2.small D
    #timer.letters.small
        .letter-1.invert.first_3 3
        .letter-2.small 2
        .letter-3.tiny 1
        .letter-1.go Go
    
    
