#game
    .input-block
        .background
            .input-wraper
                span#username Username
                input#input-username(type="text" maxlength="21")
            button#start Find opponent
