head
    meta(charset="utf-8")
    title Typonaut
    script(src="js/jquery.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js")
    link(rel="stylesheet" href="css/main.css")
