
#highscore(hidden)
    .letters.small
        .letter-1.small H
        .letter-2.small I
        .letter-3.small G
        .letter-1.small H
        .letter-2.small S
        .letter-3.small C
        .letter-1.small O
        .letter-2.small R
        .letter-3.small E
        .clear

    .highscore
        .background
            .score
                label.position Position
                label.name Name
                label.points Score
            .score.first
                .position 1
                .name Test-player
                .points 9001
                .clear
            .score
                .position 2
                .name Test
                .points 5001
                .clear
            .score
                .position 3
                .name Player
                .points 1001
                .clear
            .score
                .position 4
                .name Nice Guy
                .points 1
                .clear
            .score
                .position 5
                .name Test-player
                .points 9001
                .clear
            .score
                .position 6
                .name Test
                .points 5001
                .clear
            .score
                .position 7
                .name Player
                .points 1001
                .clear
            .score
                .position 8
                .name Nice Guy
                .points 1
                .clear
            .score
                .position 9
                .name Player
                .points 1001
                .clear
            .score
                .position 10
                .name Nice Guy
                .points 1
                .clear
