#highscore(hidden)
    .background
        .score.title
            h3 Highscore
        .score.labels
            label.left Position
            label.middle Name
            label.right Score
        .score.first
            .position 1
            .name Test-player
            .points 9001
            .clear
        .score
            .position 2
            .name Test
            .points 5001
            .clear
        .score
            .position 3
            .name Player
            .points 1001
            .clear
        .score
            .position 4
            .name Nice Guy
            .points 1
            .clear
