#new-game
    .letters
        .letter-1 T
        .letter-2 Y
        .letter-3 P
        .letter-1 O
        .letter-2 N
        .letter-3 A
        .letter-1 U
        .letter-2 T
        .clear

    .input-block
        .background
            .input-wraper
                span#username Username
                input#input-username(type="text" maxlength="21")
            button#start Find oponent
