#new-game()
    button.score-btn.btn Scores
    audio#gameMenuBackgroundSound(autoplay loop)
        source(src="audio/game-menu.mp3" type="audio/mpeg")

    .letters
        .letter-1 T
        .letter-2 Y
        .letter-3 P
        .letter-1 O
        .letter-2 N
        .letter-3 A
        .letter-1 U
        .letter-2 T

    .input-block
        .background
            .input-wraper
                span#username Username
                input#input-username.input(type="text" maxlength="21")
            button#start.btn Find opponent
