#search-overlay(hidden)
    .letters.small
        .letter-1.small L
        .letter-2.small O
        .letter-3.small O
        .letter-1.small K
        .letter-2.small I
        .letter-3.small N
        .letter-1.small G
        .letter-2.invert 4
        .letter-3.small O
        .letter-1.small P
        .letter-2.small P
        .letter-3.small O
        .letter-1.small N
        .letter-2.small E
        .letter-3.small N
        .letter-1.small T
        .clear
    .search-overlay
        .background
            img(src="img/loading.gif" alt="")
            button#cancel Cancel
