#result(hidden)
    include logo

    audio#winSound
        source(src="audio/win.mp3" type="audio/mpeg")
    audio#lossSound
        source(src="audio/loss2.mp3" type="audio/mpeg")

    .letters(style="display: none;")#win_message
        .letter-1 W
        .letter-2 I
        .letter-3 N
        .letter-1 !
        .letter-2 !
        .letter-3 !

    .letters(style="display: none;")#loss_message
        .letter-1 L
        .letter-2 O
        .letter-3 S
        .letter-1 S
        .letter-2 ...

    .result-block
        .background
            .result-info
                h2 Played words
                
                h4 
                    span WORD: 
                    span.played-word extrasyphilitic
                
                span.label Test1
                span.info.loss 2500ms
                .clear
                
                span.label Test1
                span.info.win 2500ms
                .clear
                
                h4 
                    span WORD: 
                    span.played-word pleuropterygian
                
                span.label Test1
                span.info.win 2500ms
                .clear
                
                span.label Test1
                span.info.loss 2500ms
                .clear
                
                h4 
                    span WORD: 
                    span.played-word subservientness
                
                span.label Test1
                span.info.win 2500ms
                .clear
                
                span.label Test1
                span.info.loss 2500ms
                .clear
                
                h2 Score
                span.label.big.win WINNS
                span.info.big 5
                .clear
                
                span.label.big.loss LOSSES
                span.info.big 2
                .clear
            button#again-btn.btn Find opponent
