#result(hidden)
    include logo

    audio#winSound
        source(src="audio/win.mp3" type="audio/mpeg")
    audio#lossSound
        source(src="audio/loss2.mp3" type="audio/mpeg")

    .letters(style="display: none;")#win_message
        .letter-1.small W
        .letter-2.small I
        .letter-3.small N
        .letter-1.small !
        .letter-2.small !
        .letter-3.small !

    .letters(style="display: none;")#loss_message
        .letter-1.small L
        .letter-2.small O
        .letter-3.small S
        .letter-1.small S
        .letter-2.small ...

    .result-block
        .background
            .result-info
                h2 Stats
                h3#name-1
                    span.winner (WINNER)
                span.label Time:
                span.info#time-1
                .clear
                span.label Wins:
                span.info#wins-1 5
                .clear
                span.label Losses:
                span.info#losses-1 2
                .clear
                h3#name-2
                    span.loss (loser)
                span.label Time:
                span.info#time-2
                .clear
                span.label Wins:
                span.info#wins-2 5
                .clear
                span.label Losses:
                span.info#losses-2 2
                .clear
            button#again-btn.btn Find opponent
