#result(hidden)
    include logo

    audio#winSound
        source(src="audio/win.mp3" type="audio/mpeg")
    audio#lossSound
        source(src="audio/loss2.mp3" type="audio/mpeg")

    .letters(style="display: none;")#win_message
        .letter-1.small W
        .letter-2.small I
        .letter-3.small N
        .letter-1.small !
        .letter-2.small !
        .letter-3.small !

    .letters(style="display: none;")#loss_message
        .letter-1.small L
        .letter-2.small O
        .letter-3.small S
        .letter-1.small S
        .letter-2.small ...

    .result-block
        .background
            .result-info
                h2 Played words
                
                h4 
                    span WORD: 
                    span.played-word extrasyphilitic
                
                span.label Test1
                span.info.loss 2500ms
                .clear
                
                span.label Test1
                span.info.win 2500ms
                .clear
                
                h4 
                    span WORD: 
                    span.played-word pleuropterygian
                
                span.label Test1
                span.info.win 2500ms
                .clear
                
                span.label Test1
                span.info.loss 2500ms
                .clear
                
                h4 
                    span WORD: 
                    span.played-word subservientness
                
                span.label Test1
                span.info.win 2500ms
                .clear
                
                span.label Test1
                span.info.loss 2500ms
                .clear
                
                h2 Score
                span.label.big.win WINNS
                span.info.big 5
                .clear
                
                span.label.big.loss LOSSES
                span.info.big 2
                .clear
            button#again-btn.btn Find opponent
