.dialog(style="display: none")#closeDialog
    h4 Kindel?
    a.close-btn(href="#") X
    span Olete kindel, et soovite kustutada?
    button.cancel Loobu
    button.ok Kustuta

    script.
        $(".dialog .close-btn").click(function(e) {
            e.preventDefault();
            $(this).parent().hide();
        });
        $(".dialog .cancel").click(function (e) {
          e.preventDefault();
          $(this).parent().hide();
        });
