.container
    h3.form-title ÄRA VÕETUD / VIIDUD / SAAMATA JÄÄNUD VARA
    .row
        .subFormHolder.form-field.col-sm-12
            .template.subForm.sub-form.display(style="display: none")
                h4.headTitle Vara
                a.close-btn.closeItem(href="#") X
                .row
                    .sub-field.col-sm-12
                        label Eseme nimetus
                        input(type="text").title
                .row
                    .sub-field.col-sm-6
                        label Soetamise aasta
                        input(type="text")
                    .sub-field.col-sm-5
                        label Ligikaudne hetkeväärtus
                        input(type="text")
                    .sub-field.col-sm-1
                        span(style="margin-top: 30px") €
                .row
                    .sub-field.col-sm-12
                        include checkbox
                        span.terms Vara oli lukustatud ruumis
                .row
                    hr
                    .sub-field.col-sm-12 Vara valdus olemas (viimati kannatanul/teatajal ese/asi olemas)
                .row
                    .sub-field.col-sm-6
                        label Kuupäev
                        input(type="text")
                    .sub-field.col-sm-6
                        label Kellaaeg
                        input(type="text")
                .row
                    hr
                    .sub-field.col-sm-12 Vara valdusest väljaminek on tuvastatud (polnud enam eset/asja teatajal/kannatanul olemas)
                .row
                    .sub-field.col-sm-6
                        label Kuupäev
                        input(type="text")
                    .sub-field.col-sm-6
                        label Kellaaeg
                        input(type="text")
                .row
                    hr
                    .sub-field.col-sm-12
                        label Tundemärgid ja eritunnused (sh raaminumber, seerianumber, IMEI-kood jm)
                        textarea

    .row
        .form-field.col-sm-12
            button.btn.addBtn#add-stolen-item-btn(type="button") Lisa vara

script(src='js/esemed.js')
