.footer
    hr
    .container
        .row
            span.col-sm-2 <strong>Kliendiinfo</strong> 612 3000
            span.col-sm-6 <strong>Politsei- ja Piirivalveamet</strong> Pärnu mnt. 139 Tallinn, 15060 
            span.col-sm-2 E-<a href="#">ppa@politsei.ee</a>
            span.col-sm-2 FB
        .row
            span.col-sm-12 <strong>Hädaabi 112</strong>
    
