.footer
    hr

    pre
        b Kliendiinfo
        span  612 3000 | Politsei- ja Piirivalveamet | Pärnu mnt. 139 | Tallinn 15060 |
        span
        a(href="#")
            u ppa@politsei.ee
        span  |
        span
        a(href="#", title="PPA Facebook")
            img(src="img/facebook.png", alt="Facebooki logo")

        p
            span.glyphicon.glyphicon-earphone
            b Hädaabi 112
