.header
    .logo
        a(href="https://www.politsei.ee/et", title="Politsei- ja Piirivalveamet")
            img(src="img/PPA.png", alt="Politsei- ja Piirivalveameti logo")

    .emptybox

    br.clearfloat

    nav.navbar.nav-container
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#myNavbar")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            .collapse.navbar-collapse(id="myNavbar")
                ul.nav.navbar-nav
                    li.dropdown
                        a(class="dropdown-toggle", data-toggle="dropdown", href="#") Organisatsioonist
                            span.caret
                        ul.dropdown-menu
                            li: a(href="#") Politsei- ja piirivalveamet
                            li: a(href="https://www.politsei.ee/et/organisatsioon/juhtide-vastuvotuajad.dot") Juhtide vastuvõtuajad
                            li: a(href="https://www.politsei.ee/et/organisatsioon/dokumendiregister/") Dokumendiregister
                            li: a(href="https://www.politsei.ee/et/organisatsioon/teabenoue/") Teabenõue
                    li.dropdown
                        a(class="dropdown-toggle", data-toggle="dropdown", href="#") Teenused
                            span.caret
                        ul.dropdown-menu
                            li: a(href="https://www.politsei.ee/et/teenused/isikut-toendavad-dokumendid/") Isikut tõendavad dokumendid
                            li: a(href="https://www.politsei.ee/et/teenused/riigiloivud/") Riigilõivud
                            li: a(href="https://www.politsei.ee/et/teenused/migratsiooninoustajad/") Migratsiooninõustajad
                            li: a(href="https://www.politsei.ee/et/teenused/eestis-viibimise-seaduslikud-alused/") Eestis viibimise seaduslikud alused
                    li
                        a(href="#") Nõuanded
                    li
                        a(href="#") Ennetus
                    li
                        a(href="#") Politsei palub abi
                    li
                        a(href="#") Pressile
                    li
                        a(href="#") Kontakt
                    li
                        a(href="#") Lastenurk