.sidebar.hidden-md-down
    .serviceList
        ul
            li
                a(href="#") Isikut tõendavad dokumendid
            li
                a(href="#") Riigilõivud
            li
                a(href="#") Migratsiooninõustajad
            li
                a(href="#") Eestis viibimise seaduslikud alused
            li
                a(href="#") Elamisluba
            li
                a(href="#") Elamisõigused
            li
                a(href="#") Eestis töötamine
            li
                a(href="#") Eesti kodakondsus
            li
                a(href="#") Viibimisaja pikendamine
            li
                a(href="#") Rahvusvaheline kaitse
            li
                a(href="#") Haldusaktide avaldamine
            li
                a(href="#") Ebaseadusliku rände tõkestamine
            li
                a(href="#") Merereostustõrje
            li
                a(href="#") Schengeni piirikontroll
            li
                a(href="#") Politseile avalduse esitamine
            li
                a(href="#") Relvaluba
            li
                a(href="#") Majandustegevuse luba
            li
                a(href="#") Leitud esemed
            li
                a(href="#") E-päringud
            li
                a(href="#") Turvaettevõtted
            li
                a(href="#") Lõhkeaine lähteaine teavitus
            li
                a(href="#") Avaliku koosoleku registreerimine
            li
                a(href="#") Avaliku ürituse kooskõlastamine
            li
                a(href="#") Vihjetelefonid ja meiliaadressid
            li
                a(href="#") Kliendiinfo
            li
                a(href="#") Teenindusbüroode lahtiolekuajad

    .findUs
        .map
            a(href="#", title="Jaoskondade kontaktid")
                img(src="img/map-of-estonia.jpg", width="250")
        .findUsLabel
            p Leia meid