.container
    h3.form-title TÄIENDAVAD ANDMED
    .row.last
        .form-field.col-sm-12#agreementProcedure
            include checkbox
            span.terms
                |Olen nõus kokkuleppemenetlusega.
                |Kokkuleppemenetlus on menetluse liik, mille käigus nõustuvad süüdistatav
                |ja tema kaitsja süüdistuse sisu ja kuriteo kvalifikatsiooni, kuriteoga tekitatud kahju laadi ja suurusega ning jõuavad kokkuleppele prokuröri poolt kohtus nõutava karistuse liigis ja määras
    .row.last
        .form-field.col-sm-12#documentsToEmail
            include checkbox
            span.terms Olen nõus, et menetlusega seotud dokumendid edastatakse minu poolt antud e-posti aadressile

    .row.last
        .form-field.col-sm-12#informationByEtoimik
            include checkbox
            span.terms  Soovin teavet E-Toimiku kaudu <a href="https://www.e-toimik.ee">https://www.e-toimik.ee/</a>
