.container
    h3.form-title TEATAJA ANDMED
    .row#one-required
        .form-field.col-sm-6
            label Isikukood**
            label.error-message(style="display: none") Üks kahest täitmata
            input(type="text")#serialNumber.identificationCode
        .form-field.col-sm-6
            label Sünniaeg**
            label.error-message(style="display: none") Vigane kuupäev
            input.datepicker(type="text")#birthDate.birthDate.validateDate
    .row
        .form-field.col-sm-6
            label Perekonnanimi*
            label.error-message(style="display: none") Kohustuslik
            input(type="text").required#lastName.lastName
        .form-field.col-sm-6
            label Eesnimi*
            label.error-message(style="display: none") Kohustuslik
            input(type="text").required#firstName.firstName
    .row
        .form-field.col-sm-6
            label Kodakondsus
            select#personNationality
                option -- valige kodakondsus --
                option Eesti
                option Soome
                option Läti
                option Leedu
        .form-field.col-sm-6
            label Maakond
            select#personCounty
                option(default) -- valige maakond --
                option Harjumaa
                option Läänemaa
                option Ida-Virumaa
                option Lääne-Virumaa
    .row
        .form-field.col-sm-10
            label Aadress
            input(type="text" placeholder="Linn tänav maja nr./korteri nr.")#personAddress
        .form-field.col-sm-2
            label Sihtnumber
            input(type="text")#personPostcode

    .row
        .form-field.col-sm-6
            label E-post
            label.error-message(style="display: none") Vigane e-post
            input.email(type="text")#personEpost
        .form-field.col-sm-6
            label Telefon*
            label.error-message(style="display: none") Kohustuslik
            input.phone-nr(type="text").required#personPhone
    .row
        .form-field.col-sm-12
            label Lisa märkused (kontakteerumisviisi eelistus, kontakteerumise aeg jm.)
            textarea#personAdditional
    .row
        .form-field.col-sm-12#personIsJuridical
            include checkbox
            span.terms Kannatanu on juriidiline isik
