.container
    h3.form-title TEATAJA
    .row
        .form-field.col-sm-6
            label Isikukood**
            input(type="text")#serialNumber
        .form-field.col-sm-6
            label Sünniaeg**
            input(type="text")#birthDate
    .row
        .form-field.col-sm-6
            label Perekonnanimi*
            label.error-message(style="display: none") Kohustuslik
            input(type="text").required#lastName
        .form-field.col-sm-6
            label Eesnimi*
            label.error-message(style="display: none") Kohustuslik
            input(type="text").required#firstName
    .row
        .form-field.col-sm-6
            label Kodakondsus
            select
                option -- valige kodakontsus --
                option Eesti
                option Soome
                option Läti
                option Leedu
        .form-field.col-sm-6
            label Maakond
            select
                option(default) -- valige maakond --
                option Harjumaa
                option Läänemaa
                option Ida-Virumaa
                option Lääne-Virumaa
    .row
        .form-field.col-sm-10
            label Aadress
            input(type="text" placeholder="Linn tänav maja nr./korteri nr.") 
        .form-field.col-sm-2
            label Sihtnumber
            input(type="text") 

    .row
        .form-field.col-sm-6
            label E-post
            input(type="text") 
        .form-field.col-sm-6
            label Telefon*
            label.error-message(style="display: none") Kohustuslik
            input(type="text").required
    .row
        .form-field.col-sm-12
            label Lisa märkused (kontakteerumisviisi eelistus, kontakteerumise aeg jm.)
            textarea
    .row
        .form-field.col-sm-12
            include checkbox
            span.terms Kannatanu on juriidiline isik

script(src='js/teataja.js')