.container
    h3.form-title SÜNDMUSE TOIMUMISE AEG
    .row
        .form-field.col-sm-6
            label Kuupäev
            input(type="text")
        .form-field.col-sm-6
            label Kellaaeg
            input(type="text")

.container
    h3.form-title SÜNDMUSE TOIMUMISE KOHT
    .row
        .form-field.col-sm-6
            label Prefektuur
            select
        .form-field.col-sm-6
            label Riik
            select

    .row
        .form-field.col-sm-12
            label Aadress
            input(type="text")
    .row
        .form-field.col-sm-12
            label Toimumise koht (nt park, kauplus, internet vms)
            input(type="text")

.container
    h3.form-title TOIMUNU KIRJELDUS*
    .row
        .form-field.col-sm-12
            textarea
    .row
        .form-field.col-sm-12
            span.short Tekitatud varaline kahju: €
            input.short(type="text")
