.container
    h3.form-title SÜNDMUSE
    .row
        .form-field.col-sm-6
            label Sündmuse kuupäev*
            label.error-message(style="display: none") Kohustuslik
            input(type="text").required
        .form-field.col-sm-6
            label Sündmuse lellaaeg
            input(type="text")
    .row
        .form-field.col-sm-6
            label Sündmus toimus riigis*
            select
                option(default) Eesti
                option Soome
                option Läti
                option Leedu
                
        .form-field.col-sm-6
            label Sündmus toimus maakonnas
            select
                option(default) -- valige maakond --
                option Harjumaa
                option Läänemaa
                option Ida-Virumaa
                option Lääne-Virumaa
    .row
        .form-field.col-sm-12
            label Sündmuse koht (nt aadress, park, kauplus, internet vms)*
            label.error-message(style="display: none") Kohustuslik
            input(type="text").required
    .row
        .form-field.col-sm-12
            label Sündmuse kirjeldus*
            label.error-message(style="display: none") Kohustuslik
            textarea.required
    .row
        .form-field.col-sm-12.required
            span.short Tekitatud varaline kahju:
            input.short(type="text")
            span.short €
