.container
    h3.form-title TUNNISTAJA(TE) ANDMED
    .row
        .form-field.col-sm-12
            .sub-form
                h4 Tunnistaja#1
                .row
                    .sub-field.col-sm-6
                        label Perekonnanimi
                        input(type="text")
                    .sub-field.col-sm-6
                        label Eesnimi
                        input(type="text")
                
    .row
        .form-field.col-sm-12
            button#add-witness-btn Lisa tunnistaja
        
