.container
    h3.form-title TUNNISTAJA(TE) ANDMED
    .row
        .subFormHolder.form-field.col-sm-12#witness
            .template.subForm.sub-form.display(style="display: none")
                h4 Tunnistaja
                a.close-btn.closeItem(href="#") X
                .row
                    .sub-field.col-sm-6
                        label Isikukood
                        input(type="text").identificationCode
                    .sub-field.col-sm-6
                        label Sünniaeg
                        input.datepicker(type="text").birthDate
                .row
                    .sub-field.col-sm-6
                        label Perekonnanimi
                        input(type="text").title2.lastName
                    .sub-field.col-sm-6
                        label Eesnimi
                        input(type="text").title2.firstName
                .row
                    .sub-field.col-sm-6
                        label Kodakontsus
                        select.nationality
                            option(default) -- valige kodakontsus --
                            option Eesti
                            option Soome
                            option Läti
                            option Leedu

                    .sub-field.col-sm-6
                        label Riik*
                        select.country
                            option(default) Eesti
                            option Soome
                            option Läti
                            option Leedu
                .row
                    .sub-field.col-sm-12
                        label Aadress
                        input(type="text").address
                .row
                    .sub-field.col-sm-6
                        label E-post
                        label.error-message(style="display: none") Vigane e-post
                        input.email(type="text").eMail
                    .sub-field.col-sm-6
                        label Telefon
                        label.error-message(style="display: none") Vigane telefoni nr.
                        input.phone-nr(type="text").phone
                
    .row
        .form-field.col-sm-12
            button.btn.addBtn#add-witness-btn(type="button") Lisa tunnistaja
        
