doctype html
html
    include templates/head
    
    body
        button#score Scores
        include templates/new-game
        include templates/search
        include templates/highscore
        //include templates/game

        script(src="js/functions.js")
