doctype html
html
    head
        meta(charset="utf-8")
        title Typonaut
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        link(rel="stylesheet" href="css/main.css")
    
    body
        
        button#score Scores
        .letters
            .letter-1 T
            .letter-2 Y
            .letter-3 P
            .letter-1 O
            .letter-2 N
            .letter-3 A
            .letter-1 U
            .letter-2 T
            .clear
        
        .input-block
            .background
                .input-wraper
                    span#username Username
                    input#input-username(type="text" maxlength="21")
                button#start Find oponent
        
        #search-overlay(hidden)
            h3 Looking 4 oponent...
            img(src="img/loading.gif" alt="")
            button#cancel Cancel
        
        script(src="js/functions.js")
