doctype html
html
    include templates/head
    
    body
        include templates/new-game
        include templates/search
        include templates/highscore
        include templates/game
        include templates/countdown
        include templates/solution

    script(src="js/functions.js")
