@import "bootstrap"

$background-color: rgb(190, 212, 236)
$border-color: rgb(235, 235, 235)
$checked-color: rgb(95, 95, 95)
$btn-color: #eeeeee
$highlight-red: rgb(199, 81, 37)

html
    height: 100%

body
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif
    max-width: 1120px
    margin: 0 auto
    position: relative

    .header
        width: 100%
        margin: 50px auto 0

    .navbar-toggle
        border: solid $checked-color

        .icon-bar
            display: block
            width: 22px
            height: 2px
            background-color: $checked-color

    .logo
        width: 397px
        heigth: 133px
        float: left

    .emptybox
        width: 723px
        height: 133px
        float: right

    .clearfloat
        clear: both
        height: 0
        font-size: 1px
        line-height: 0px

    .nav-container
        font-weight: bold
        border:
            left: none
            right: none
            top: solid $border-color 1px
            bottom:  solid $border-color 1px

    .dropdown-menu
        li
            padding: 5px

            a
                color:  #337ab7

                &:hover
                    color:  #337ab7

    .form
        max-width: 760px
        float: left

        @media(max-width: 1100px)
            float: none
            margin: 30px auto 10px

    .sidebar
        width: 340px
        float: right
        margin-top: 10px

        @media(max-width: 1100px)
            display: none

        .serviceList
            border: solid $border-color 1px
            padding: 15px 0px 15px 0px

            ul
                list-style: none
                margin: 10px

        .find-us
            margin-top: 30px
            height: 200px
            border: solid $border-color 1px
            padding: 10px

            label
                display: block
            a
                display: block
                img
                    margin: 0 20px

    .message
        cursor: pointer
        margin: 2px auto
        width: 100%
        margin: 0px 10px 20px
        color: $highlight-red
        display: none

        @media (max-width: $screen-sm)
            display: block

        img
            transition: transform 300ms ease-in-out
            width: 40px
            height: 40px
            margin: 5px 20px

        span
            display: block
            font:
                size: 1.4em
                weight: normal
            width: 100%
            text-align: center

            strong
                font-weight: bold
                padding-right: 10px

    .info
        border: solid 1px rgba($highlight-red, .3)
        padding: 15px
        overflow: hidden
        max-width: 740px
        margin: 10px auto 0
        transition: max-height 500ms ease-in-out

        @media (max-width: $screen-sm)
            max-height: 80px

        @media (max-width: 408px)
            max-height: 100px

        font:
            size: 1em
            weight: bold

        &.open
            max-height: 700px

            img
                -webkit-transform: rotate(180deg)
                -moz-transform: rotate(180deg)
                -ms-transform: rotate(180deg)
                transform: rotate(180deg)

        @media (min-width: $screen-sm)
            max-height: 700px

    .highlight
        color: $highlight-red
        font-size: 1.1em

    #report-form
        border: solid $border-color 1px
        padding: 15px
        max-width: 740px
        margin: 35px auto

        @media (max-width: $screen-sm)
            border: none
            border:
                top: solid $border-color 1px
                bottom: solid $border-color 1px
            padding: 0

        h2, h3
            font-weight: bold
            text-align: center
            width: 100%

        h2
            margin: 10px auto 20px
            font-size: 35px

        h3
            border-bottom: solid $border-color 1px
            background-color: $background-color
            margin: 0
            padding: 10px 15px
            margin-left: -15px
            width: calc(100% + 30px)
            line-height: 1
            font-size: 1em

            @media (max-width: $screen-sm)
                border: none

        hr
            margin: 5px 10px

        h4
            width: 100%
            background-color: $background-color
            font-size: 1em
            margin: 0 0
            padding: 10px

        label
            display: block
            width: auto
            float: left
            font:
                size: .85em
                weight: normal

        input[type="text"], select
            width: 100%
            padding: 5px
            font-size: 1em

            &.short
                max-width: 100px
                float: left
                margin-top: -5px

        input:focus, textarea:focus
            -webkit-box-shadow: 0px 0px 5px 0px rgba(191, 191, 191, .8)
            -moz-box-shadow: 0px 0px 5px 0px rgba(191, 191, 191, .8)
            box-shadow: 0px 0px 5px 0px rgba(191, 191, 191, .8)

        .checkbox
            float: left
            fill: rgb(187, 187, 187)
            opacity: .8
            cursor: pointer
            position: relative

            &.checked
                fill: $checked-color
                opacity: 1

            svg
                cursor: pointer
                width: 30px
                height: 30px

            &:hover
                fill: $background-color
                opacity: .7

            input[type='checkbox']
                position: absolute
                left: 30px
                top: 5px
                cursor: pointer
                transform: scale(2.2)
                opacity: 0

        textarea
            width: 100%
            height: 6em
            resize: vertical

        button
            font:
                weight: bold
                size: 1.2em
            display: block
            border: none
            margin: 0 auto
            width: 250px
            padding: 10px 0

            &.big
                width: 100%

            &:hover
                opacity: .8

        .btn
            background: $btn-color
            border: solid 1px rgb(220, 220, 220)

        .rules
            margin:
                left: 8px
                top: 30px

        .container
            max-width: 700px
            margin-top: 20px
            border: solid $border-color 1px

            @media (max-width: $screen-sm)
                border: none

            &:last-child
                border: none

        .sumbmit-contaier
            border: none

            .error-message
                width: 100%

            @media (max-width: $screen-sm)
                .error
                    height: 105px

        .row.last
            margin: 10px -15px 0

        .sub-form
            padding: 0 2px 2px
            overflow: hidden
            border: solid $border-color 1px
            margin: 10px auto
            position: relative
            max-height: 36px
            transition: max-height 1s cubic-bezier(0.77, 0.24, 0.03, 0.94)

            h4
                margin-left: -2px
                cursor: pointer
                width: calc(100% + 4px)
                font-weight: bold

            &.display
                max-height: 900px

            .close-btn
                font-weight: bold
                color: $text-color
                padding: 3px 9px
                text:
                    decoration: none
                    align: center
                position: absolute
                top: 3px
                right: 3px
                background-color: white
                border: solid $border-color 1px
                cursor: pointer

                &:hover
                    opacity: .8

            .row
                margin-left: 0
                margin-right: 0

            .sub-field
                padding: 5px

        .form-field
            padding: 5px

            span
                float: left
                display: block
                width: 100%

                &.terms
                    width: 80%
                    margin: 15px 10px

                &.short
                    width: auto
                    padding: 5px
                    padding-top: 3px

                &.importand
                    margin: 10px
                    text-decoration: underline
                    font:
                        weight: bold
                        size: 1.1em

        .error-message
            display: none

        .error
            -webkit-box-shadow: 0px 0px 10px 0px red
            -moz-box-shadow: 0px 0px 10px 0px red
            box-shadow: 0px 0px 10px 0px red

            label
                font:
                    size: .9em
                    weight: bold

            .error-message
                color: $highlight-red
                padding-left: 10px
                display: block


        .dialog
            font-weight: bold
            border: solid 1px rgb(200, 200, 200)
            width: 300px
            height: 195px
            margin:
                left: -150px
                top: -100px
            background: rgb(250, 250, 250)
            position: fixed
            top: 50%
            left: 50%
            padding: 10px

            h4
                font-weight: bold
                width: 300px
                padding-left: 14px
                margin:
                    left: -11px
                    top: -11px

            .close-btn
                border: solid 1px $background-color
                position: absolute
                top: 1px
                right: 1px
                text:
                    decoration: none
                    align: center
                font-size: 1.2em
                padding: 2px 5px
                color: $text-color
                background-color: white
                display: block
                width: 29px
                float: right

                &:hover
                    opacity: .5

            span
                clear: both
                height: 100px
                text-align: center
                font-size: 1.2em
                display: block
                padding: 25px 2px

            .cancel
                display: block
                float: left
                margin: 2px
                width: calc(50% - 4px)
                color: black
                font-size: 1.2em

                background-color: rgb(224, 108, 104)

            .ok
                @extend .cancel
                background-color: rgb(143, 213, 132)

    .footer
        clear: both
        width: 100%
        right: 0px
        bottom: 0px
        left: 0px
        padding: 1rem
        text-align: center

        .emptybox
            height: 50px
            width: 100%
        img
            height: 20px
            width: 20px
            margin: -5px 5px 0

        hr
            margin: 0 -10px 10px

        svg
            margin: -5px 0 0 10px
            width: 30px
            height: 30px

        span
            margin: 5px 0px
            display: block

            strong
                padding-right: 5px
