doctype html
html(lang="et")
    head
        title E-avaldus
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        link(rel="stylesheet" href="css/main.css")


    body
        form#report-form
            h2 Politseile avalduse
            .rules 
                |* - märgitud väljad on kohustuslikud<br>
                |** - märgitud väljadest üks on kohustuslik (täida isikukood või sünniaeg)
                
            include templates/teataja
            
            include templates/toimumine

            include templates/esemed
                    
            include templates/syydlased

            include templates/tunnistajad

            include templates/taiendavad_andmed

            .container
                .row
                    .form-field.col-sm-12
                        input(type="checkbox")
                        span Kõik esitatud andmed on õiged. Olen teadlik, et valeandmete esitamine on karistatav
                .row.last
                    .form-field.col-sm-6
                        button Kinnita ja allkirjasta ID kaardiga
                    .form-field.col-sm-6
                        button Kinnita allkirjastamata
