.form

 
    .info 
        .message
            span <strong>Tähtis info!</strong> Loe enne täitmist <img src="./img/arrow.png" alt="">
        |Kui kellegi <span class="highlight">elu või tervis</span> on
        |<span class="highlight">vahetult ohus</span>, siis <span class="highlight">helista viivitamatult hädaabinumbrile 112</span>.<br/>
        |<span class="highlight">Ära kasuta seda ankeeti raskest ja/või isikuvastasest kuriteost</span> (vägistamine, tapmine, kehaline väärkohtlemine - löömine, peksmine vm) teatamiseks.
        |<span class="highlight">Raskest kuriteost teate</span> andmiseks pöördu lähimasse <span class="highlight">politseijaoskonda</span>.
        |<span class="highlight">Võimalusel allkirjasta</span> vorm <span class="highlight">digitaalselt</span>. Nii on kindel, kes selle esitas.<br/>
        |<br/><span class="highlight">Tähelepanu!</span> Palun <span class="highlight">kontrolli</span>, et sisestasid enda
        |<span class="highlight">e-posti aadressi</span> vormile korrektselt.
        |Kui e-posti aadress on ôige, siis <span class="highlight">peaksid süüteoteate koopia päeva jooksul sisestatud e-posti aadressile saama</span>,
        |mis tähendab, et avaldus on politseini jõudnud.
        |<span class="highlight">Kui seda ei juhtu</span>, siis palun <span class="highlight">võta ühendust aadressil ppa@politsei.ee.</span><br/>
        |<br/><span class="highlight" style="font-size:1.2em">Avalduses ei tohi esitada valeandmeid.</span><br/>
        |<br/>Vajadusel tuleb menetleja kutsel tulla politseijaoskonda täiendavate ütluste andmiseks.

    form#report-form
        h2 Politseile e-avalduse esitamine
        .rules
            |* - märgitud väljad on kohustuslikud<br>
            |** - märgitud väljadest üks on kohustuslik (täida isikukood või sünniaeg)

        include templates/toimumine

        include templates/teataja

        include templates/esemed

        include templates/syydlased

        include templates/tunnistajad

        include templates/taiendavad_andmed

        hr.hidden-sm.hidden-md.hidden-lg.hidden-xl

        .container.sumbmit-contaier
            .row
                .form-field.col-sm-12#affirmation
                    label.error-message(style="display: none") Kinnitage e-avalduse esitamiseks
                    include templates/checkbox
                    span.terms.importand Kõik esitatud andmed on õiged. Olen teadlik, et valeandmete esitamine on karistatav
            .row.last
                .form-field.col-sm-6
                    button.big.btn.submitBtn(type="button") Kinnita ja allkirjasta ID-kaardiga
                .form-field.col-sm-6
                    button.big.btn.submitBtn(type="button") Kinnita allkirjastamata
        include templates/dialog
    script(src="js/main.js")
