audio#winSound
    source(src="audio/win.mp3" type="audio/mpeg")

audio#lossSound
    source(src="audio/loss2.mp3" type="audio/mpeg")

audio#leverSound
    source(src="audio/lever.mp3" type="audio/mpeg")

audio#coinsSound
    source(src="audio/coins.mp3" type="audio/mpeg")

audio#bonusSound
    source(src="audio/bonus.mp3" type="audio/mpeg")

audio#spinSound
    source(src="audio/spin.mp3" type="audio/mpeg")
