.header
    nav.navbar.nav-container.col-lg12
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#myNavbar")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            .collapse.navbar-collapse(id="myNavbar")
                ul.nav.navbar-nav
                    li.dropdown
                        a(class="dropdown-toggle active", data-toggle="dropdown", href="#") Games
                            span.caret
                        ul.dropdown-menu
                            li: a(href="#") Poker
                            li.active: a(href="#") Slotmachine
                            li: a(href="#") Blackjack
                            li: a(href="#") Dices
                    li
                        a(href="#") Betting
                    li.dropdown
                        a(class="dropdown-toggle", data-toggle="dropdown", href="#") Settings
                            span.caret
                        ul.dropdown-menu
                            li: a(href="#") Lorem ipsum
                            li: a(href="#") Dolor
                            li: a(href="#") Sit Amet
                            li: a(href="#") Consectetur
                    li
                        a(hrf="#") Account
                    li
                        a(href="#") Sign Out