head
    title Slotmachine
    meta(charset="utf-8")
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="js/jquery.spritely.js")
    script(src="js/jquery.backgroundPosition.js")
    script(src="js/main.js")
    script(src="js/slot.js")
