doctype html
html
  include head

  body
    .container

        .machine
            .slot#slot1
            .slot#slot2
            .slot#slot3

            .clear-fix

            .cash
                .bottom
                - for (var x = 1; x < 37; x++)
                    .coin 1

        .handle
            .leaver
            .nob

        include audio
