doctype html
html
  head
    title Slotmachine
    meta(charset="utf-8")
    link(rel="stylesheet" href="css/main.css")

  body
    .machine
        .slot
            img(style="top: -490px" src="img/piggy-bank.png" alt="")
            img(style="top: -350px" src="img/small-diamond.png" alt="")
            img(style="top: -210px" src="img/coin.png" alt="")
            img(style="top: -70px" src="img/alarm.png" alt="")
            img.active(style="top: 70px" src="img/big-horseshoe.png" alt="")
            img(style="top: 210px" src="img/cherries.png" alt="")
            img(style="top: 350px" src="img/chest.png" alt="")
            img(style="top: 490px" src="img/number-seven.png" alt="")
        .slot
            img(style="top: -490px" src="img/piggy-bank.png" alt="")
            img(style="top: -350px" src="img/small-diamond.png" alt="")
            img(style="top: -210px" src="img/coin.png" alt="")
            img(style="top: -70px" src="img/alarm.png" alt="")
            img.active(style="top: 70px" src="img/big-horseshoe.png" alt="")
            img(style="top: 210px" src="img/cherries.png" alt="")
            img(style="top: 350px" src="img/chest.png" alt="")
            img(style="top: 490px" src="img/number-seven.png" alt="")
        .slot
            img(style="top: -490px" src="img/piggy-bank.png" alt="")
            img(style="top: -350px" src="img/small-diamond.png" alt="")
            img(style="top: -210px" src="img/coin.png" alt="")
            img(style="top: -70px" src="img/alarm.png" alt="")
            img.active(style="top: 70px" src="img/big-horseshoe.png" alt="")
            img(style="top: 210px" src="img/cherries.png" alt="")
            img(style="top: 350px" src="img/chest.png" alt="")
            img(style="top: 490px" src="img/number-seven.png" alt="")
      
        .clear-fix
      
        .cash
            .bottom
        
    .handle
        .leaver
        .nob
