doctype html
html
  include head

  body
    .container

        include header

        .machine
            .slot#slot1
                div
                  img(src="img/piggy-bank.png" alt="")
                div
                  img(src="img/small-diamond.png" alt="")
                div
                  img(src="img/coin.png" alt="")
                div
                  img(src="img/alarm.png" alt="")
                div
                  img(src="img/big-horseshoe.png" alt="")
                div
                  img(src="img/cherries.png" alt="")
                div
                  img(src="img/chest.png" alt="")
                div
                  img(src="img/number-seven.png" alt="")
            .slot#slot2
              div
                img(src="img/piggy-bank.png" alt="")
              div
                img(src="img/small-diamond.png" alt="")
              div
                img(src="img/coin.png" alt="")
              div
                img(src="img/alarm.png" alt="")
              div
                img(src="img/big-horseshoe.png" alt="")
              div
                img(src="img/cherries.png" alt="")
              div
                img(src="img/chest.png" alt="")
              div
                img(src="img/number-seven.png" alt="")
            .slot#slot3
              div
                img(src="img/piggy-bank.png" alt="")
              div
                img(src="img/small-diamond.png" alt="")
              div
                img(src="img/coin.png" alt="")
              div
                img(src="img/alarm.png" alt="")
              div
                img(src="img/big-horseshoe.png" alt="")
              div
                img(src="img/cherries.png" alt="")
              div
                img(src="img/chest.png" alt="")
              div
                img(src="img/number-seven.png" alt="")

            .clear-fix

            .cash
                .bottom
                - for (var x = 1; x < 37; x++)
                    .coin 1

        .handle
            .leaver.pull
            .nob.pull

        include audio
    
    script(src="js/main.js")
