body {
  background: #fda100;
  background: -webkit-linear-gradient(top right, orange, #ff9d2a);
  background: -o-linear-gradient(top right, orange, #ff9d2a);
  background: -moz-linear-gradient(top right, orange, #ff9d2a);
  background: linear-gradient(top right, orange, #ff9d2a); }
  body .clear {
    clear: both; }
  body button {
    cursor: pointer;
    width: 200px;
    height: 50px;
    color: white;
    background-color: #F50057;
    border: none;
    border-radius: 2px;
    display: block;
    margin: 10px auto;
    font-size: 1.2em;
    font-weight: bold;
    -webkit-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.75); }
    body button:hover {
      -webkit-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.75); }
  body .letters {
    display: flex;
    justify-content: center;
    margin: 150px 10px 100px; }
    body .letters.small {
      margin: 50px auto; }
@media(max-width: 905px) {
  body .letters {
    padding: 0 50px; } }
  body .letter, body .letter-1, body .letter-2, body .letter-3 {
    width: 80px;
    height: 80px;
    font-size: 5em;
    padding: 10px;
    border: solid 1px black;
    background-color: white;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75); }
    body .letter.small, body .small.letter-1, body .small.letter-2, body .small.letter-3 {
      height: 50px;
      width: 50px;
      font-size: 3em; }
    body .letter.invert, body .invert.letter-1, body .invert.letter-2, body .invert.letter-3 {
      background-color: black;
      color: white;
      page-break-after: always;
      break-after: always;
      -webkit-box-shadow: 5px 5px 0px 0px white;
      -moz-box-shadow: 5px 5px 0px 0px white;
      box-shadow: 5px 5px 0px 0px white; }
  body .letter-1 {
    margin: 5px 5px 5px -10px;
    transform: rotateZ(7deg); }
  body .letter-2 {
    margin: 5px -15px;
    transform: rotateZ(-12deg); }
  body .letter-3 {
    margin: 5px;
    transform: rotateZ(-2deg); }
  body #username-diaply {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: #F50057; }
  body #score {
    position: absolute;
    right: 50px;
    top: 20px;
    display: block;
    height: 40px;
    width: 100px;
    font-size: 1em; }
  body .input-block, body .highscore {
    background-color: rgba(0, 0, 0, 0.75);
    max-width: 650px;
    height: 300px;
    margin: 100px auto 20px;
    transform: rotateZ(-2deg);
    position: relative; }
  body .input-wraper {
    max-width: 450px;
    margin: 75px auto 50px;
    position: relative; }
    body .input-wraper.error {
      animation: error;
      animation-duration: 0.5s;
      animation-iteration-count: 1;
      -moz-animation: error;
      -moz-animation-duration: 0.5s;
      -moz-animation-iteration-count: 1; }
    body .input-wraper #username {
      position: absolute;
      pointer-events: none;
      margin: 25px 0 0 10px;
      font-size: 1.5em;
      font-weight: bold;
      color: #F50057;
      opacity: 0.8;
      transition: margin 0.2s ease-in-out, font-size 0.2s ease-in-out; }
    body .input-wraper.active #username {
      position: absolute;
      margin: -10px 0 0 0;
      font-size: 0.9em;
      font-weight: bold;
      color: #F50057;
      opacity: 0.8; }
    body .input-wraper #input-username {
      width: 100%;
      padding: 10px 20px;
      display: block;
      border: none;
      border-bottom: solid 2px #F50057;
      background-color: white;
      color: black;
      font-size: 1.5em;
      font-weight: bold; }
      body .input-wraper #input-username:focus {
        outline: none; }
  body .background {
    position: absolute;
    width: 98%;
    height: 98%;
    margin-left: 1%;
    transform: rotateZ(2deg);
    background-color: white; }
  body .highscore {
    margin-top: 50px;
    width: 500px;
    height: 640px;
    font-weight: bold;
    text-align: center;
    color: #F50057; }
    body .highscore .score {
      margin: 20px 10px; }
      body .highscore .score label {
        margin: 30px 0;
        color: black; }
      body .highscore .score label.position {
        font-size: 1.2em; }
    body .highscore .position {
      float: left;
      width: 20%;
      font-size: 1.5em; }
    body .highscore .name {
      float: left;
      width: 40%;
      font-size: 1.2em; }
    body .highscore .points {
      float: left;
      width: 40%;
      font-size: 1.2em; }
  body .search-overlay {
    width: 400px;
    height: 450px;
    margin: 100px auto;
    background-color: black;
    transform: rotateZ(-2deg); }
    body .search-overlay img {
      width: 100%; }
@-webkit-keyframes error {
  0% {
    transform: rotateZ(0deg); }
  20% {
    transform: rotateZ(-2deg); }
  40% {
    transform: rotateZ(2deg); }
  60% {
    transform: rotateZ(-2deg); }
  80% {
    transform: rotateZ(2deg); }
  100% {
    transform: rotateZ(0deg); } }

/*# sourceMappingURL=main.css.map */
