.dialog
    a.close-btn(href="#") X
    span Oled kindel, et soovid sulgeda ?
    button.cancel Loobu
    button.ok Kustuta

    script.
        $(".dialog .close-btn").click(function(e) {
            e.preventDefault();
            $(this).parent().hide();
        });
